@font-face {
  font-family: 'cursi';
  src: url('../../font/cursi.ttf') format('ttf')
  /* Puedes agregar otros atributos aquí, como font-weight y font-style si es necesario */
}


body {
    padding-top: 50px; /* Ajusta según la altura de tu navbar */
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 800;
}

.navbar{
  background-color: #f7f9f0;
  box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.75);
  font-family: 'Merriweather', serif;
  font-weight: 500;
}



@media (max-width: 820px) {
  .hideBorder {
    border-right: none !important;
  }
}