body {
    padding-top: 50px; /* Ajusta según la altura de tu navbar */
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    font-weight: 900;
}

.navbar{
  box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.75);

}



@media (max-width: 820px) {
  .hideBorder {
    border-right: none !important;
  }
}